:root {
    --app-color: #6743a5;
    --app-dark-color: #41296a;
    --backdrop: rgba(0, 0, 0, .4);
    --black: #000;
    --border-color: #dee2e6;
    --light: #f8f9fa;
    --linear-gradient: linear-gradient(to right, #7F39F8 0%, #543DE7 51%, #7F39F8 100%);
    --text-linear-gradient: linear-gradient(74deg, #4285f4 0,#9b72cb 9%,#d96570 20%,#d96570 24%,#9b72cb 35%,#4285f4 44%,#9b72cb 50%,#d96570 56%,#fff 75%,#fff 100%);
    --text-muted: #6c757d;
    --purple: #754ffe;
    --primary-color: var(--app-color);
    --primary-dark-color: var(--app-dark-color);
    --white: #fff; 
}