:root {
    --app-color: #754ffe;
    --app-dark-color: #41296a;
    --backdrop: rgba(0, 0, 0, .4);
    --light-black: #212529;
    --black: #000;
    --border-color: #dee2e6;
    --bullet-inactive-color: #5372f0;
    --bs-bg-opacity: 1;
    --bs-body-bg: #fff;
    --bs-border-color: #dee2e6;
    --bs-dark-rgb: 33, 37, 41;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-heading-color: inherit;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --cloud-purple: #f99efc48;
    --dark: #0f172a;
    --light: #f8f9fa;
    --light-app-color: #eee5fb;
    --light-gray: #f1f0ee;
    --light-purple: #ebeeff;
    --linear-gradient: linear-gradient(to right, #7F39F8 0%, #543DE7 51%, #7F39F8 100%);
    --text-linear-gradient: linear-gradient(74deg, #4285f4 0,#9b72cb 9%,#d96570 20%,#d96570 24%,#9b72cb 35%,#4285f4 44%,#9b72cb 50%,#d96570 56%,#1fbed0 75%,#c4cd0d 100%);
    --text-muted: #6c757d03;
    --text-light-gray: #6c757d;
    --purple: #754ffe;
    --primary-color: var(--app-color);
    --primary-dark-color: var(--app-dark-color);
    --purple-shadow: -3px 6px 14px -5px rgba(219,13,219,0.3);
    --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
    --white: #ffffff; 
}

.dark-mode {
    --backdrop: rgba(250, 73, 238, 0.604);
    --black: #fff;
    --border-color: var(--text-muted);
    --bs-body-bg: #10182a;
    --bs-border-color: var(--text-muted);
    --bs-dark-rgb: 255, 255, 255;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-heading-color: #fff;
    --bs-tertiary-bg-rgb: 15, 23, 42;
    --dark: var(--light);
    --light: var(--dark);
    --light-app-color: #9783dd1f;
    --light-black: #ccc;
    --text-muted: #7c7c7d;
    --light-purple: #002B36;
    --bs-secondary-color: rgb(124, 124, 125);
    --shadow-sm: 0 .125rem .25rem rgba(255, 0, 208, 0.25);
    --shadow-lg: 0 1rem 3rem rgba(255, 0, 208, 0.25);
    --text-light-gray: #ccc;
    --white: var(--bs-body-bg);
}

.bg-blur {
    background-color: transparent;
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);  
}

.bg-danger-soft {
    background-color: rgba(220, 38, 38, .1) !important;
    color: #dc2626 !important;
}

.bg-dark-stable{
    background-color: var(--dark);
}

.bg-info-soft {
    background-color: rgba(14, 165, 233, .1) !important;
    color: #0ea5e9 !important;
}

.bg-linear-gradient {
    background: var(--linear-gradient);
}

.bg-primary {
    background-color: var(--app-color) !important;
}

.bg-success-soft {
    background-color: rgba(56, 161, 105, .1) !important;
    color: #38a169 !important;
}

.bg-light-purple {
    background-color: var(--light-purple);
}

.badge {
    padding: 0.33rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: inherit;
    border-radius: 0.375rem;
}

.border-gray-800 {
    opacity: 1;
    border-color: #1e293b !important;
}

.bg-transparent {
    background-color: transparent;
}

.text-light-gray {
    color: var(--text-light-gray);
}

label, p, span, small {
    color: var(--light-black);
}


