@import url('utilities/colors.css');
@import url('utilities/typography.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/navbar.css');
@import url('components/hero-section.css');
@import url('components/testimonial-section.css');
@import url('components/form-controls.css');
@import url('components/contact-us.css');
@import url('components/footer.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-wrapper {
    flex: 1 0 auto;
    min-height: 100%;
    padding-bottom: 7rem;
}

.illustration-wrapper {
    position: relative;
    display: block;
    text-align: center;
    width: 500px;
    height: 500px;
}

.swiper-pagination-bullet {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    background-color: #5372f0;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: var(--purple) !important;
    opacity: 1;
}

.swiper-slide-button {
    position: relative;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background-color: var(--purple);
    box-shadow: var(--shadow-sm);
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    margin-top: -35px;
}

.swiper-slide-button::after {
    font-size: 2rem !important;
    font-weight: bolder;
    color: #fff !important;
}

footer.footer {
    flex-shrink: 0;
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    .swiper-slide:active {
        cursor: grabbing;
    }

    .swiper-slide-button {
        display: none !important;
    }
}

