@import url('utilities/colors.css');
@import url('utilities/typography.css');
@import url('components/buttons.css');
@import url('components/navbar.css');
@import url('components/hero-section.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-wrapper {
    flex: 1 0 auto;
    min-height: 100%;
    padding-bottom: 7rem;
}

.navbar .btn {
    font-size: var(--text-sm);
}

footer.footer {
    flex-shrink: 0;
}
