.hero-section>.container {
    background: url('../images/map.svg');
    width: 100%;
    height: 80vh;
}   

.focal-point {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.focal-point>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: var(--linear-gradient);
    border: 5px solid var(--text-muted);
    place-self: center;
}