.card {
    border: var(--border-width) solid var(--border-color);
}

.card-title,
.text-truncate-line-2 {
    max-height: 3rem;
    overflow: hidden;
}

.card-title>a,
.text-truncate-line-2>a {
    color: var(--app-color);
    text-decoration: none !important;
    text-transform: capitalize;
}

.card-footer {
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding: 1rem 1.5rem;
}

.streak-card-sm .streak-fire-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.streak-card-sm .streak-fire-wrapper>img {
    margin: auto;
}

.streak-card-sm .streak-week-days .streak-status {
    display: grid;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .35rem;
    color: #fff;
    font-weight: bold;
}

.streak-card-sm .streak-week-days .streak-status.streak-paused {
    background-color: var(--bullet-inactive-color);
}

.streak-card-sm .streak-week-days .streak-status.streak-play {
    background-color: var(--app-color);
}

.streak-card-sm .streak-week-days .streak-status>i {
    margin: auto;
}
