.dropdown-menu {
    box-shadow: var(--shadow-lg);
    text-decoration: none;
    border-radius: 0.5rem;
    margin-top: 0.75rem !important;
    padding: 0.5rem;
}

.navbar.main-nav #user-info-menu {
    width: 275px
}

.dropdown-menu .dropdown-item>li {
    list-style: none;
    width: 100%;
}

.dropdown-menu .dropdown-item {
    background-color: transparent;
    border-radius: 0.5rem !important;
    margin: 0.35rem 0;
    padding: 0.5rem 0 0.5rem 0.75rem;
    text-decoration: none;
    color: var(--bs-emphasis-color-rgb);
    font-size: var(--text-sm);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--light-app-color);
    box-shadow: var(--shadow-sm);
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item.active, 
.dropdown-item:active,
.dropdown-item:hover {
    text-decoration: none;
    background-color: #37465b;
    border-radius: 5px;
    color: var(--black);
}


.dropdown-item.active, 
.dropdown-item:active {
    color: var(--app-color);
}

