.footer {
    color: #fff;
}

.footer #footer-logo {
    width: 100px;
    height: 100px;
}

.nav-footer .nav-link:hover {
    color: var(--app-color);
}
.nav-x-0 .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nav-footer .nav-link {
    font-size: .875rem;
    line-height: 1.5rem;
    padding: .2rem 1rem;
}
.footer, .nav-footer .nav-link {
    color: #64748b;
}


