@import url('ripple-animation.css');

.header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 2rem;
}

.hero-section>.container {
    background: url('../../images/app/map.svg');
    width: 100%;
    height: 80vh;
}   

.hero-section #student-searching {
    position: relative;
}

.hero-section #student-searching>.student-search-result {
    position: absolute;
    border: 0.15px solid var(--border-color);
    padding: 0.75rem;
    z-index: 10;
}

.student-search-result#first-student {
    top: -100%;
    left: 25%;
    transform: translate(100%, 25%);
}

/* .student-search-result#first-student .title-placeholder,
.student-search-result#first-student .content-placeholder {
    background-color: #139a74;
} */

.student-search-result#second-student {
    top: 40%;
    left: -5%;
}

/* .student-search-result#second-student .title-placeholder,
.student-search-result#second-student .content-placeholder {
    background-color: #51a0c2;
} */

.student-search-result#third-student {
    top: 60%;
    right: -10%;
}

/* .student-search-result#third-student .title-placeholder,
.student-search-result#third-student .content-placeholder {
    background-color: #ae302e;
} */

.student-info .title-placeholder,
.student-info .content-placeholder {
    height: 10px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}

.student-info .title-placeholder{
    width: 120px;
}

.student-info .content-placeholder{
    margin-top: .5rem;
    width: 60px;
}

.avatar-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-group img {
    border: 3px solid var(--white);
}
.avatar img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.avatar-group .avatar:hover {
    z-index: 2;
}
.avatar-md {
    height: 2.5rem;
    width: 2.5rem;
}
.avatar {
    display: inline-block;
    position: relative;
    height: 3rem;
    width: 3rem;
    margin-left: -1.5rem;
}

.content-aggregate-body {
    position: relative;
    margin-top: -5rem;
}

/* Applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .hero-section #student-searching>.student-search-result {
        padding: 0.35rem;
    }

    .student-search-result#first-student {
        top: -65%;
        left: 60%;
        transform: translate(-65%, -60%);
    }

    .student-search-result#second-student {
        top: 90%;
        left: 3%;
    }

    .student-search-result#third-student {
        top: 10%;
        right: 0%;
    }

    .hero-content {
        margin-top: 8rem;
    }

    .content-aggregate-body {
        border: 0;
        border-radius: 0;
        margin-top: 14rem;
    }

    .content-aggregate-body .content-aggregate:first-child, 
    .content-aggregate-body .content-aggregate:nth-child(2) {
        border-bottom: 1px solid var(--border-color);
    }

    .content-aggregate-body .content-aggregate:first-child, 
    .content-aggregate-body .content-aggregate:nth-child(3) {
        border-right: 1px solid var(--border-color);
    }
}

/* Applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    .card.content-aggregate-body {
        border-radius: 0.5rem;
    }

    .content-aggregate-body .content-aggregate:not(:last-child) {
        border-right: 1px solid var(--border-color);
    }
}
