@import url('../utilities/colors.css');
@import url('../utilities/spacing.css');
@import url('../utilities/typography.css');
@import url('buttons.css');
@import url('dropdown.css');
@import url('form-controls.css');
@import url('sidebar.css');

/* Main Nav */
.navbar.main-nav {
    height: 60px;
    font-size: var(--text-sm);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.navbar.main-nav .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.navbar.main-nav .nav-list>li.nav-item,
.navbar.main-nav .search-form {
    margin-top: 0.5rem;
}

.navbar .navbar-brand{
    object-fit: contain;
}

.app-logo {
    font-family: 'Syne', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .btn {
    font-size: var(--text-sm);
}

.navbar.main-nav .search-form {
    position: relative;
    width: 400px;
}

.navbar.main-nav .search-form>input {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding-right: 2rem;
}

.navbar.main-nav .search-form>i.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1rem;
}

.navbar.main-nav .nav-badge-item {
    position: relative;
}

.navbar.main-nav .nav-badge-item>.badge {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top: -0.05rem;
    right: -0.35rem;
    border: 2px solid var(--white);
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 0;
    padding: 0.25rem 0.3rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.navbar.main-nav .nav-item.avatar-wrapper,
.navbar.main-nav .nav-item.avatar-wrapper>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar.main-nav .nav-item.avatar-wrapper {
    position: relative;
    background: var(--linear-gradient);
}

.navbar.main-nav .nav-item.avatar-wrapper>img {
    object-fit: cover;
}

/* /.Main Nav */

/* Nav Scroller */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    color: rgba(255, 255, 255, .75);
}
.nav-scroller .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-weight: 500;
    font-size: .875rem;
}

.nav-scroller .nav-link,
.nav-scroller .nav-link>small {
    color: var(--text-light-gray);
}

.nav-scroller .nav-link.active,
.nav-scroller .nav-link:hover,
.nav-scroller .nav-link:hover>small {
    color: var(--app-color) !important;
}
/* /.Nav Scroller */

/* Color Gradient Preloader */

.line {
    height: 5px;
    width: 100%;
    background: #8599c4;
    z-index: 11000;
    position: fixed;
    top: 0;
}

.line .inner {
    width: 100%;
    height: inherit;
    background: var(--text-linear-gradient);
    animation: slide 1s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform-origin: left;
        transform: scalex(0.5);
    }
    25% {
        transform-origin: left;
        transform: scalex(1);
    }
    26% {
        transform-origin: right;
        transform: scalex(1);
    }
    50% {
        transform-origin: right;
        transform: scalex(0.5);
    }
    75% {
        transform-origin: right;
        transform: scalex(1);
    }
    76% {
        transform-origin: left;
        transform: scalex(1);
    }
    100% {
        transform-origin: left;
        transform: scalex(0.5);
    }
}

/* /.Color Gradient Preloader */

/* Navs */


.nav-tabs {
    background-color: none;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.nav-tabs>.nav-item>.nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 500;
    color: var(--text-light-gray);
}

.nav-tabs>.nav-item>.nav-link.active {
    background-color: transparent;
    border-bottom: 5px solid var(--app-color);
    border-radius: 10px 10px 0 0; /* Rounded top edges */ 
    color: var(--app-color); 
}

.nav-tabs.clear {
    justify-content: start;
    border-bottom: 1px solid transparent;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
}


/* /.Navs */

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 768px) {
    .navbar.main-nav,
    .navbar.main-nav .nav-list {
        clear: both;
        width: 100%;
    } 

    .navbar.main-nav .nav-list>.toggle-sidebar-btn {
        margin-left: -2.5rem;
    }

    .nav-tabs>.nav-item>.nav-link {
        font-size: 0.75rem;
    }
}

