@import url('../utilities/colors.css');

.navbar {
    font-size: var(--text-sm);
}

.navbar .navbar-brand{
    object-fit: contain;
}

.app-logo {
    font-family: 'Syne', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar .btn {
    font-size: var(--text-sm);
}

/* Color Gradient Preloader */

.line {
    height: 5px;
    width: 100%;
    background: #8599c4;
    z-index: 11000;
    position: absolute;
    top: 0;
}

.line .inner {
    width: 100%;
    height: inherit;
    background: var(--text-linear-gradient);
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform-origin: left;
        transform: scalex(0.3);
    }
    25% {
        transform-origin: left;
        transform: scalex(1);
    }
    26% {
        transform-origin: right;
        transform: scalex(1);
    }
    50% {
        transform-origin: right;
        transform: scalex(0.3);
    }
    75% {
        transform-origin: right;
        transform: scalex(1);
    }
    76% {
        transform-origin: left;
        transform: scalex(1);
    }
    100% {
        transform-origin: left;
        transform: scalex(0.3);
    }
}

/* /.Color Gradient Preloader */

/* Navs */


.nav-tabs {
    background-color: none;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
}

.nav-tabs .nav-item .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 500;
    color: var(--text-muted);
}

.nav-tabs .nav-item .nav-link.active {
    background-color: transparent;
    border-bottom: 5px solid var(--purple);
    border-radius: 10px 10px 0 0; /* Rounded top edges */ 
    color: var(--purple); 
}

.nav-tabs.clear {
    justify-content: start;
    border-bottom: 1px solid transparent;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
}


/* /.Navs */

